apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: concourse-web-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
  - host: "{{ HOSTNAME }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: mongodb
            port:
              number: 8080
